<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifecycle.ponent">

    <application
        android:name=".ComApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--生命周期-->
        <activity android:name=".life.AActivity" />
        <activity android:name=".life.BActivity" />
        <activity android:name=".service.ServiceLifeCycleActivity" />

        <!--保存状态-->
        <activity android:name=".saverestore.SaveStateActivity" />
        <activity android:name=".saverestore.SaveSecondActivity" />

        <!--     android:theme="@style/AppThemeTranslucent"  />-->
        <!--     当minSdkVersion和targetSdkVersion有一个大于13，配置,orientation和screenSize，旋转屏幕就不会重建Activity  />-->
        <!--     当minSdkVersion和targetSdkVersion都小于13，配置,orientation，旋转屏幕就不会重建Activity ，不重建就不会更换背景图片啦 />-->
        <!--   android:configChanges="orientation|screenSize" />-->

        <activity
            android:name=".launchmode.LaunchModeActivity"
            android:screenOrientation="portrait" />

        <!--standard-->
        <activity
            android:name=".launchmode.StandardActivity"
            android:screenOrientation="portrait" />
        <!--singleTop-->
        <activity
            android:name=".launchmode.SingleTopActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!--singleTask-->
        <activity
            android:name=".launchmode.SingleTaskActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--singleInstance-->
        <activity
            android:name=".launchmode.SingleInstanceActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <!--singleTask with taskAffinity-->
        <activity
            android:name=".launchmode.TaskAffinity1Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="@string/task_affinity_task" /><!--taskAffinity是字符串，需要包含.字符，否则应用安装失败-->
        <!--singleTask with taskAffinity E和F在同一个栈中 E和F在同一个栈中-->
        <activity
            android:name=".launchmode.TaskAffinity2Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="@string/task_affinity_task" />

        <!--service启动流程-->
        <service
            android:name=".service.LifeCycleService"
            android:enabled="true" />

        <!-- broadcast 广播 静态注册-->
        <receiver android:name=".receiver.AlReceiver">
            <intent-filter>
                <action android:name="com.pachen.cool.service.AL_ACTION" />
            </intent-filter>
        </receiver>

        <!-- provider -->
        <provider
            android:name=".provider.LifeCycleContentProvider"
            android:authorities="com.lm.LifeCycleContentProvider"
            android:exported="true"
            android:permission="com.pachen.cool.provider.FirewallManagerProvider" />

        <!-- IntentFilter-->
        <activity android:name=".intentfilter.IntentActivity" />
        <activity android:name=".intentfilter.FtActionActivity">
            <intent-filter>
                <action android:name="com.intent.intentfilter.action.one" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".intentfilter.FtCategoryActivity">
            <intent-filter>
                <action android:name="com.intent.intentfilter.action.four" />

                <category android:name="com.intent.intentfilter.category" />
                <category android:name="com.intent.intentfilter.category.one" />
                <category android:name="com.intent.intentfilter.category.two" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".intentfilter.FtDataActivity">
            <intent-filter>
                <action android:name="com.intent.intentfilter.action.five" />

                <category android:name="com.intent.intentfilter.category.five" />
                <category android:name="android.intent.category.DEFAULT" />

                <!--可不配置URI,默认支持content-->
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <!-- fragment -->
        <activity
            android:name=".homefragment.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- viewpager-->
        <activity
            android:name=".viewpager.ViewPagerStateActivity"
            android:screenOrientation="portrait" />

    </application>

    <meta-data
        android:name="android.max_aspect"
        android:value="2.1" />

</manifest>