<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifecycle.launchmode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.lifecycle.launchmode.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--生命周期-->
        <activity android:name=".life.AActivity" />
        <activity android:name=".life.BActivity" />
        <activity android:name=".service.ServiceActivity" />

        <!--保存状态-->
        <activity android:name=".saverestore.SaveActivity" />

        <!--     android:theme="@style/AppThemeTranslucent"  />-->
        <!--     当minSdkVersion和targetSdkVersion有一个大于13，配置,orientation和screenSize，旋转屏幕就不会重建Activity  />-->
        <!--     当minSdkVersion和targetSdkVersion都小于13，配置,orientation，旋转屏幕就不会重建Activity ，不重建就不会更换背景图片啦 />-->
        <!--   android:configChanges="orientation|screenSize" />-->

        <activity
            android:name=".mode.LaunchModeActivity"
            android:screenOrientation="portrait" />

        <!--standard-->
        <activity
            android:name="com.lifecycle.launchmode.mode.StandardActivity"
            android:screenOrientation="portrait" />
        <!--singleTop-->
        <activity
            android:name="com.lifecycle.launchmode.mode.SingleTopActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!--singleTask-->
        <activity
            android:name="com.lifecycle.launchmode.mode.SingleTaskActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--singleInstance-->
        <activity
            android:name="com.lifecycle.launchmode.mode.SingleInstanceActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <!--singleTask with taskAffinity-->
        <activity
            android:name="com.lifecycle.launchmode.mode.TaskAffinity1Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="@string/task_affinity_task" /><!--taskAffinity是字符串，需要包含.字符，否则应用安装失败-->
        <!--singleTask with taskAffinity E和F在同一个栈中 E和F在同一个栈中-->
        <activity
            android:name="com.lifecycle.launchmode.mode.TaskAffinity2Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="@string/task_affinity_task" />

        <!--Activity启动流程1-->
        <activity
            android:name="com.lifecycle.launchmode.startup.StartupOneAct"
            android:screenOrientation="portrait" />
        <!--Activity启动流程2-->
        <activity
            android:name="com.lifecycle.launchmode.startup.StartupTwoAct"
            android:screenOrientation="portrait" />

        <!--service启动流程-->
        <service
            android:name="com.lifecycle.launchmode.service.LifeCycleService"
            android:enabled="true" />
    </application>

</manifest>